@keyframes rotating {
    from
    {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
footer{
    height:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer-social-links{
    margin: 0 5px; 
}
.footer-text>span{
    background-color: #fff;
    color:rgb(143, 139, 139);
}
.footer-social>a{
    border:1px solid rgb(143, 139, 139);
    border-radius:50%;
    padding:8px;
    text-decoration: none;
    color:rgb(143, 139, 139);
    /* animation: rotating 1s ease-in-out infinite; */
}

.footer-social>a:hover{
    border:2px solid black;
    color: black
};
