main{
    color: white;
    /* height: 100%; */
    overflow-x: hidden;
}
#home{
    height: 100vh;
    width: 100vw;
    background: black;
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#home_centre_div{
    height: 250px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#home_centre_div_text>h1{
    font-size: 54px;
    word-spacing: 0.6rem;
}

.social-links{
    color: white;
    margin: 0 5px;
}
.social-links:hover{
    border:1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px white;
}
#home_centre_div_download{
    border:2px solid white;
    padding: 8px;
    border-radius: 50px;
    width: fit-content;
}

#home_centre_div_download:hover{

    background-color: white;
    border: 2px solid black;


}
#home_centre_div_download:hover>a{
    color: black;
}
#home_centre_div_download>a{
    color: white;
    text-decoration: none;
}


